<table class="bidding-container">
    <thead>
        <tr>
            <th class="bidding-cell">North</th>
            <th class="bidding-cell">East</th>
            <th class="bidding-cell">South</th>
            <th class="bidding-cell">West</th>
        </tr> 
    </thead>
    <tbody>
        <tr class="bidding-round" ng-repeat="round in cx.rounds">
            <td class="bidding-cell" ng-repeat="bid in round"> 
                <tower-bid bid="bid"></tower-bid>
            </td>
        </tr>
    </tbody>
</table>