.trick-container {    
}

.trick-card {
    margin: 0.5em;
}

.trick-center {
}

.trick-edge-ew {
}

.trick-edge-ns {

}

.bidding-container {
    background: white;
    color: black;
}

.bidding-cell {
    margin: 0;
    padding: 0.2rem;
    min-width: 3rem;
    width: 25%;
}
