{
	"env": {
		"browser": true,
		"es6": true,
		"mocha": true,
	},
	"ecmaFeatures": {
   	"jsx": true
   },
	"parser": "babel-eslint",
	"rules": {
		"strict": 0,
		"quotes": 0,
		"no-underscore-dangle": 0,
		"no-console": 0,
		"space-unary-ops": 0,
		"curly": 0,
		"no-use-before-define": 0,
		"react/jsx-uses-react": 1
	},
	"globals": {
		"expect": true,
		"require": true,
		"process": true,
		"global": true
	},
	"plugins": [
		"react"
	]
}
