<div class="app-container">
   <nav role="navigation" class="app-navbar nav-main">
      <ul class="nav-site">
         <li *ng-for="#route of routes">
            <a [class.active]="state.route == route"
               href="#"
               (^click)="routeClicked($event, route)">
               {{route}}
            </a>
         </li>
      </ul>
   </nav>
   <div class="app-content">
      <settings-view *ng-if="state.route == 'settings'" ></settings-view>
      <table-view *ng-if="state.route != 'settings'" ></table-view>
   </div>

   <div class="app-growl">
      <growler />
   </div>
</div>
