@import "./suit.css";

.card-container {
   position: relative;
   width: 5rem;
   height: 7rem;
   border-radius: 0.5rem;
   background: #fafafa;
   color: #080808;
}

.card-suit {
   font-size: 1.5rem;
   line-height: 1.5rem;
}

.card-pip-small {
   font-size: 1rem;
   line-height: 1rem;
   text-align: center;
}

.card-pip {
   min-width: 60%;
   text-align: center;
   font: 2rem/7rem Georgia, Times New Roman, serif;
}

.card-edge-left {
   position: absolute;
   left: 0;
   top: 0;
   margin: 0.3rem;
}

.card-edge-right {
   position: absolute;
   right: 0;
   bottom: 0;
   margin: 0.3rem;
   transform: rotate(180deg);
}
