.bidding-box-container {
    background: white;
}

.bidding-box-button {
    margin: 0;
    padding: 0.1rem;
    width: 100%;
}

.bidding-box-cell {
    margin: 0;
    padding: 0;
    min-width: 3rem;
}
