<div class="bidding-box-container">
    <table>
        <tbody>
            <tr class="bidding-box-level" ng-repeat="level in cx.levels">
                <td class="bidding-box-cell" colspan="2" ng-repeat="bid in level"> 
                    <button class="bidding-box-button"
                            ng-click="cx.bid(bid)">
                        <tower-bid bid="bid"></tower-bid>
                    </button>
                </td>
            </tr> 
            <tr class="bidding-box-level">
                <td class="bidding-box-cell" colspan="3">
                    <button class="bidding-box-button"
                            ng-click="cx.bid(cx.double)">
                        <tower-bid bid="cx.double"></tower-bid>
                    </button>
                </td>
                <td class="bidding-box-cell" colspan="3">
                    <button class="bidding-box-button"
                            ng-click="cx.bid(cx.redouble)">
                        <tower-bid bid="cx.redouble"></tower-bid>
                    </button>
                </td>
                <td  class="bidding-box-cell" colspan="4">
                    <button class="bidding-box-button"
                            ng-click="cx.bid(cx.nobid)">
                        <tower-bid bid="cx.nobid"></tower-bid>
                    </button>
                </td>
            </tr> 
        </tbody>
    </table>
</div>