.card-container {
  position: relative;
  float: left;
  margin: 0.1rem;
  width: 5rem;
  height: 7rem;
  border-radius: 1rem;
  background: #fff;
  -webkit-box-shadow: 0.25rem 0.25rem 0.75rem rgba(0,0,0,0.3);
  box-shadow: 0.25rem 0.25rem 0.75rem rgba(0,0,0,0.3);
}

.card-suit-diamonds:before, .card-suit-diamonds:after {
  content: "♦";
  color: #ff0000;
}
 
.card-suit-hearts:before, .card-suit-hearts:after {
  content: "♥";
  color: #ff0000;
}
 
.card-suit-clubs:before, .card-suit-clubs:after {
  content: "♣";
  color: #000;
}
 
.card-suit-spades:before, .card-suit-spades:after {
  content: "♠";
  color: #000;
}

.card-suit:before {
  position: absolute;
  font-size: 2rem;
  line-height: 2rem;
  left: 0.5rem;
  top: 0.5rem;
}
 
.card-suit:after {
  position: absolute;
  font-size: 2rem;
  line-height: 2rem;
  right: 0.5rem;
  bottom: 0.5rem;
}

.card-pip {
  text-align: center;
  font: 2rem/7rem Georgia, Times New Roman, serif;
}
