<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="apple-mobile-web-app-capable" content="YES"/>
		<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="fragment" content="!" />

		<title>tower</title>

		{% if (o.htmlWebpackPlugin.options.production) { %}
		<link rel="stylesheet" href="app.{%=o.webpack.hash%}.css" media="all">
		{% } %}
	</head>
	<body>
		<div id="main"></div>

		<!-- comment out to see server rendering -->
		{% for (var chunk in o.htmlWebpackPlugin.files.chunks) { %}
		<script src="{%=o.htmlWebpackPlugin.files.chunks[chunk].entry %}"></script>
		{% } %}
	</body>
</html>
