@import "./suit.css";

.suit-diamonds:after {
	content: "♦";
	color: #ff0000;
}

.suit-hearts:after {
	content: "♥";
	color: #ff0000;
}

.suit-clubs:after {
	content: "♣";
	color: #000;
}

.suit-spades:after {
	content: "♠";
	color: #000;
}

.suit-notrumps:after {
	content: "NT";
	color: #000;
}
