.bidding-box-container {
    background: #fafafa;
    border: 0.3rem solid #3B3738;
    border-radius: 15px;
    padding: 0.3rem;
    overflow: hidden;
}

.bidding-box-button {
    margin: 0;
    width: 100%;
    line-height: 1.1rem;
    padding: 0.1rem;
}

.bidding-box-cell {
    margin: 0;
    padding: 0.1rem;
    min-width: 3rem;
}
