.bidding-box-container {
   background: #fafafa;
   border: 0.3rem solid #3B3738;
   border-radius: 15px;
   padding: 0.3rem;
   overflow: hidden;
}

.bidding-box-button {
   width: 100%;
   padding: 0.1rem;
   background: transparent;
}

.bidding-box-button:hover {
   background: #E6E6E6;
}

.bidding-box-cell {
   margin: 0;
   padding: 0.1rem;
   min-width: 3rem;
}
