<template>
    <link rel="stylesheet" type="text/css" href="src/ui/table/table.css">

    <import from='../board/board'></import>
    <import from='../player/player'></import>
    <import from='../player/hand'></import>
    <import from='../player/bidding-box'></import>

    <div class="bridge-table">

  <!--
      <nav class="game-menu">
          <md-button class="game-menu-button md-raised"
                     aria-label="undo"
                     ng-click="cx.back()">
              <i class="game-icon fa fa-arrow-left"></i>
          </md-button>
          <md-button class="board-menu-button md-raised"
                     aria-label="redo"
                     ng-click="cx.forward()">
              <i class="game-icon fa fa-arrow-right"></i>
          </md-button>
          <md-button class="board-menu-button md-raised"
                     aria-label="show bidding"
                     ng-click="cx.showBidding()">
              <i class="game-icon fa fa-bullhorn"></i>
          </md-button>
      </nav>
  -->
      <div class="table-edge-north">
          <tower-player class="table-player-north"
                        player.bind="game.north"></tower-player>
          <tower-hand class="table-hand-north"
                      player.bind="game.north"></tower-hand>
      </div>

      <div class="table-edge-west">
          <tower-player class="table-player-west"
                        player.bind="game.west"></tower-player>
          <tower-hand class="table-hand-west"
                      player.bind="game.west"></tower-hand>
      </div>

      <div class="table-center">
          <tower-board board.bind="game.currentBoard"></tower-board>
          <tower-bidding flex="25" bidding="game.currentBoard.bidding"></tower-bidding>
      </div>

      <div class="table-edge-east">
          <tower-player class="table-player-east"
                        player.bind="game.east"></tower-player>
          <tower-hand class="table-hand-east"
                      player.bind="game.east"></tower-hand>
      </div>

      <div class="table-edge-south">
          <tower-player class="table-player-south"
                        player.bind="game.south"></tower-player>
          <tower-hand class="table-hand-south"
                      player.bind="game.south"></tower-hand>
                      <tower-bidding-box class="table-bidding-south"
                                         player.bind="game.south"
                                         bidding.bind="game.bidding"></tower-bidding-box>
      </div>


  </div>
</template>
