
.table-container {    

}

.table-center {

}

.table-edge-ew {

}

.table-edge-ns {
    
}

.table-hand-north, .table-hand-south {
    display: inline;
}

.table-bidding-box {
    margin-left: 1rem;
}

/*****************/

.bridge-table {
    height: 100%;
	/*background: #00a651;*/
	/*background: #12BF07;*/
	/*background: #064002;*/
	background: #017F00;
	co]or: white;
}
