
.table-container {    
    width: 100%;
    height: 35rem;
}

.table-center {

}

.table-edge-ew {

}

.table-edge-ns {
    
}

.table-hand-north, .table-hand-south {
    display: inline;
}

.table-bidding-box {
    margin-left: 1rem;
}

.game-menu {
    
}

.game-icon {
    color: white;   
}

/*****************/

.bridge-table {
    min-height: 30rem;
	/*background: #00a651;*/
	/*background: #12BF07;*/
	/*background: #064002;*/
	background: #017F00;
	color: white;
}
