<div class="bridge-table">

    <nav class="game-menu">
        <md-button class="game-menu-button md-raised"
                   aria-label="undo"
                   ng-click="cx.back()">
            <i class="game-icon fa fa-arrow-left"></i>            
        </md-button>
        <md-button class="board-menu-button md-raised"
                   aria-label="redo"
                   ng-click="cx.forward()">
            <i class="game-icon fa fa-arrow-right"></i>            
        </md-button>
        <md-button class="board-menu-button md-raised"
                   aria-label="show bidding"
                   ng-click="cx.showBidding()">
            <i class="game-icon fa fa-bullhorn"></i>            
        </md-button>
    </nav>

    <div class="table-container" layout="column" layout-align="space-between">
        
        <div class="table-edge-ns" 
             flex="25">
            <div layout="row" layout-align="center">
                <div layout="column" layout-align="center">
                    <tower-player class="table-player-north" 
                                  player="tableCtrl.game.north"></tower-player>
                    <tower-hand class="table-hand-north"
                                player="tableCtrl.game.north"></tower-hand>
                </div>
                <div layout="column" layout-align="end">
                    <tower-bidding-box class="table-bidding-north"
                                       player="tableCtrl.game.north"
                                       bidding="tableCtrl.game.bidding"></tower-bidding-box>
                </div>
            </div>
        </div>

        <div class="table-center"
             flex="50">
            <div layout="row" layout-align="space-between">
                <div class="table-edge-ew" flex="30">
                    <tower-player class="table-player-west" 
                                  player="tableCtrl.game.west"></tower-player>
                    <tower-hand class="table-hand-west"
                                player="tableCtrl.game.west"></tower-hand>
                    <tower-bidding-box class="table-bidding-west"
                                       player="tableCtrl.game.west"
                                       bidding="tableCtrl.game.bidding"></tower-bidding-box>
                </div>

                <div flex="40">
                    <tower-board board="tableCtrl.game.currentBoard"></tower-board> 
                </div>

                <div class="table-edge-ew" flex="30">
                    <tower-player class="table-player-east" 
                                  player="tableCtrl.game.east"></tower-player>
                    <tower-hand class="table-hand-east" 
                                player="tableCtrl.game.east"></tower-hand>
                    <tower-bidding-box class="table-bidding-east"
                                       player="tableCtrl.game.east"
                                       bidding="tableCtrl.game.bidding"></tower-bidding-box>
                </div>
            </div>
        </div>

        <div class="table-edge-ns"
             flex="25">
            <div layout="row" layout-align="space-between">
                <tower-bidding bidding="tableCtrl.game.currentBoard.bidding"></tower-bidding>

                <div layout="column" layout-align="center">
                    <tower-player class="table-player-south" 
                                  player="tableCtrl.game.south"></tower-player>
                    <tower-hand class="table-hand-south"
                                player="tableCtrl.game.south"></tower-hand>
                </div>
                <div class="table-bidding-box" layout="column" layout-align="center">
                    <tower-bidding-box class="table-bidding-south"
                                       player="tableCtrl.game.south"
                                       bidding="tableCtrl.game.bidding"></tower-bidding-box>
                </div>
            </div>
        </div>
    </div>
</div>