
.bridge-table {
   background: #00261C;
   opacity: .95;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
}

.table-edge-north {
   position: absolute;
   left: 50%;
   height: 33%;
   transform: translateX(-50%);
   top: 1rem;
}

.table-edge-south {
   position: absolute;
   left: 50%;
   height: 33%;
   transform: translateX(-50%);
   bottom: 1rem;
   display: flex;
   flex-direction: column-reverse;
}

.table-edge-west {
   position: absolute;
   top: 50%;
   width: 33%;
   transform: translateY(-50%);
   left: 1rem;
}

.table-edge-east {
   position: absolute;
   top: 50%;
   width: 33%;
   transform: translateY(-50%);
   right: 1rem;
}

.table-edge-east > div {
   margin-left: auto;
   margin-right: 0;
}

.table-board {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 33%;
   height: 33%;
}

.table-hand-north, .table-hand-south {

}

.table-player-name {
   color: #fafafa;
}

.table-hand-east {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
}

.table-bidding-box {
   right: 1rem;
   bottom: 1rem;
   position: absolute;
}

.game-menu {

}

.game-icon {
   color: #fafafa;
}

/*****************/
